*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore local IDE settings
/.idea/

# Ignore compiled app build outputs
/app/release/
/app/playstore/
/app/github/
/app/build/

# Keystores and secrets
*.jks
*.keystore
keystore.properties

/GalaxyBudsClient
plan.md